.guessOptionContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.abilityRow {
  display: flex;
}

.abilityImageContainer {
  margin: 5px;
  filter: hue-rotate(65deg);
}

.abilityImageContainerSelected {
  opacity: 0.3;
}
